{#
/**
 * @file inactive_user.html.twig
 * Default theme implementation to present Inactive user data.
 *
 * This template is used when viewing Inactive user pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_inactive_user()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('inactive_user') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
